{% extends "applications/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}
<div class="container mt-5">

    <h3 class="text-center text-primary mb-4">Add dependents</h3>


    <!-- <p class="form-label"> -->
    <p class="text-center text-secondary my-4" style="max-width: 500px; margin: auto;">
        Dependents information. Give names and the context of the relationship you have with them.
        <br>
        <i>
            <small>Please report a maximum of 5 dependents</small>
        </i>
    </p>
    <!-- dependent Form Section -->
    <div id="dependent-form" class="my-4">
        {% include 'partials/dependents.html' %}
    </div>

    <!-- Action Buttons Section -->
    <div class="d-flex justify-content-center gap-3 my-4">
        <button type="button" class="btn btn-success px-4 py-2 d-flex align-items-center"
            hx-get="{% url 'create_dependent' %}" hx-target="#dependent-form" hx-swap="beforeend">
            <i class="fa-solid fa-circle-plus me-2"></i> Add dependent
        </button>
        <br>
        <button class="btn btn-primary px-4 py-2" type="button" id="submit-all"><i
                class="fa-regular fa-circle-check me-2"></i> Submit All
        </button>
    </div>

    <table class="table table-bordered table-hover align-middle mb-0">
        <thead class="table-light">
            <tr>
                <th scope="col" class="fw-semibold">Dependent</th>
                <th scope="col" class="fw-semibold text-center">Action</th>
            </tr>
        </thead>
        <tbody id="dependent-list">
            {% for dependent in dependents %}
            {% include 'partials/dependents_list.html' %}
            {% endfor %}
        </tbody>
    </table>
</div>
<br>

<!-- Navigation Buttons -->
<div class="d-flex justify-content-between mt-7">
    <a href="{{ previous_url }}" class="btn btn-outline-secondary btn-lg me-2">
        <i class="fas fa-arrow-left me-2"></i> Previous
    </a>
    <a href="{{ next_url }}" class="btn btn-outline-secondary btn-lg me-2">
        Next <i class="fas fa-arrow-right me-2"></i>
    </a>
</div>
</div>

{% endblock %}