{% extends "applications/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}



<div class="container mt-5">
    <h3 class="text-center text-primary mb-4">Parent/Guardian Information</h3>

    <form method="POST" enctype="multipart/form-data" class="form-container">
        {% csrf_token %}

        <!-- Parent 1/Guardian Section -->
        <div class="mb-4">
            <p class="form-label">
                <i class="fas fa-user me-2"></i> Parent 1/Guardian's Full Name
            </p>
            <p class="form-label">
                First Name
            </p>
            {{ form.par1_fname|add_class:"form-control" }}
            {% if form.par1_fname.errors %}
            <div class="text-danger">{{ form.par1_fname.errors }}</div>
            {% endif %}
        </div>
        <div class="mb-4">

            <p class="form-label">
                Second Name
            </p>
            {{ form.par1_mname|add_class:"form-control" }}
        </div>
        <div class="mb-4">

            <p class="form-label">
                Last Name
            </p>
            {{ form.par1_lname|add_class:"form-control" }}
            {% if form.par1_lname.errors %}
            <div class="text-danger">{{ form.par1_lname.errors }}</div>
            {% endif %}
        </div>
        <div class="mb-4">
            <p class="form-label">
                <i class="fas fa-phone me-2"></i> Parent 1/Guardian's Contact Information (Phone Number and Email) *
            </p>

            <p class="form-label">
                Phone number
            </p>
            {{ form.par1_phone|add_class:"form-control mb-2" }}

            <p class="form-label">
                Email
            </p>
            {{ form.par1_email|add_class:"form-control" }}
            {% if form.par1_phone.errors %}
            <div class="text-danger">{{ form.par1_phone.errors }}</div>
            {% endif %}
            {% if form.par1_email.errors %}
            <div class="text-danger">{{ form.par1_email.errors }}</div>
            {% endif %}
        </div>
        <div class="mb-4">
            <p class="form-label">
                <i class="fas fa-briefcase me-2"></i> Parent 1/Guardian's Occupation *
            </p>
            <small class="text-muted d-block mb-2">
                If employed, include job title, employer, and years at the job. If retired, include previous job title,
                years of employment, and retirement year.
            </small>
            <p class="form-label">
                Occupation
            </p> {{ form.par1_jobbusy|add_class:"form-control" }}
            {% if form.par1_jobbusy.errors %}
            <div class="text-danger">{{ form.par1_jobbusy.errors }}</div>
            {% endif %}
            <p class="form-label">
                State of employment
            </p> {{ form.par1_employmentstatus|add_class:"form-control" }}
            {% if form.par1_jobtitle.errors %}
            <div class="text-danger">{{ form.par1_jobtitle.errors }}</div>
            {% endif %}

            <p class="form-label">
                Job Title
            </p> {{ form.par1_jobtitle|add_class:"form-control" }}
            {% if form.par1_jobtitle.errors %}
            <div class="text-danger">{{ form.par1_jobtitle.errors }}</div>
            {% endif %}
            <p class="form-label">
                Years of employment
            </p>
            {{ form.par1_served|add_class:"form-control" }}
            <p class="form-label">
                If this parent is retired, please enter the date of retiry
            </p> {{ form.par1_retire|add_class:"form-control" }}
            {% if form.par1_retire.errors %}
            <div class="text-danger">{{ form.par1_retire.errors }}</div>
            {% endif %}
        </div>
        <div class="mb-4">
            <p class="form-label">
                <i class="fas fa-graduation-cap me-2"></i> Parent 1/Guardian's Education *
            </p>
            <small class="text-muted d-block mb-2">
                What is this parent's highest education level? And if education continued beyond secondary school,
                include institution name, diploma/degree, and year
                earned.
            </small>
            <p class="form-label">
                Parent/Guardian 1's highest education level
            </p>
            {{ form.par1_levedu|add_class:"form-control mb-2" }}
            <p class="form-label">
                In Parent/Guardian 1's highest education level, Please fill the school that he attained this level.
            </p>
            {{ form.par1_institute|add_class:"form-control" }}
            <p class="form-label">
                If Parent/Guardian 1's graduated from university/college and beyond, Please enter the degree earned
            </p>
            {{ form.par1_degree|add_class:"form-control mb-2" }}
            <p class="form-label">
                Year Parent/Guardian 1's earned this degree
            </p>
            {{ form.par1_degreeyear|add_class:"form-control mb-2" }}

        </div>

        <!-- Toggle for Parent 2/Guardian Section -->
        <!-- <div class="mb-4">
            <p class="form-label">
                <i class="fas fa-question-circle me-2"></i> Would you like to provide information about another
                Parent/Guardian?
            </p>
            <div class="form-check">
                <input class="form-check-input" style="width: 10px; height: 10px;" type="radio" name="report_par2" id="report_par2_yes" value="yes"
                    onclick="toggleParent2(true)">
                <p class="form-check-label" for="report_par2_yes">Yes</p>
            </div>
            <div class="form-check">
                <input class="form-check-input" style="width: 10px; height: 10px;" type="radio" name="report_par2" id="report_par2_no" value="no" checked
                    onclick="toggleParent2(false)">
                <p class="form-check-label" for="report_par2_no">No</p>
            </div>
        </div> -->
        <div class="mb-4">
            <div class="form-check mb-4">
                <input style="width: 10px; margin-right: 10px;" type="checkbox" class="form-check-input"
                    id="id_report_other_par" name="report_other_par" {% if form.report_other_par.value %}checked {%endif%}>
                I would like to report another parent/guardian?
                {% if form.report_other_par.errors %}
                <div class="text-danger">{{ form.report_other_par.errors }}</div>
                {% endif %}
            </div>
        </div>

        <!-- Parent 2/Guardian Section -->
        <div id="parent2-fields" style="display: none;">
            <div class="mb-4">
                <p class="form-label">
                    <i class="fas fa-user me-2"></i> Parent 2/Guardian's First Name
                </p>
                {{ form.par2_fname|add_class:"form-control" }}
            </div>
            <div class="mb-4">
                <p class="form-label">
                    <i class="fas fa-user me-2"></i> Parent 2/Guardian's Middle Name
                </p>
                {{ form.par2_mname|add_class:"form-control" }}
            </div>
            <div class="mb-4">
                <p class="form-label">
                    <i class="fas fa-user me-2"></i> Parent 2/Guardian's Last Name
                </p>
                {{ form.par2_lname|add_class:"form-control" }}
            </div>
            <div class="mb-4">
                <p class="form-label">
                    <i class="fas fa-phone me-2"></i> Parent 2/Guardian's Contact Information
                </p>
                {{ form.par2_phone|add_class:"form-control mb-2" }}
                {{ form.par2_email|add_class:"form-control" }}
            </div>
            <div class="mb-4">
                <p class="form-label">
                    <i class="fas fa-briefcase me-2"></i> Parent 1/Guardian's Occupation *
                </p>
                <small class="text-muted d-block mb-2">
                    If employed, include job title, employer, and years at the job. If retired, include previous job
                    title,
                    years of employment, and retirement year.
                </small>
                <p class="form-label">
                    Occupation
                </p> {{ form.par2_jobbusy|add_class:"form-control" }}
                {% if form.par2_jobbusy.errors %}
                <div class="text-danger">{{ form.par2_jobbusy.errors }}</div>
                {% endif %}
                <p class="form-label">
                    State of employment
                </p> {{ form.par2_employmentstatus|add_class:"form-control" }}
                {% if form.par2_jobtitle.errors %}
                <div class="text-danger">{{ form.par2_jobtitle.errors }}</div>
                {% endif %}

                <p class="form-label">
                    Job Title
                </p> {{ form.par2_jobtitle|add_class:"form-control" }}
                {% if form.par2_jobtitle.errors %}
                <div class="text-danger">{{ form.par2_jobtitle.errors }}</div>
                {% endif %}
                <p class="form-label">
                    Years of employment
                </p>
                {{ form.par2_served|add_class:"form-control" }}
                <p class="form-label">
                    If this parent is retired, please enter the date of retiry
                </p> {{ form.par2_retire|add_class:"form-control" }}
                {% if form.par2_retire.errors %}
                <div class="text-danger">{{ form.par2_retire.errors }}</div>
                {% endif %}
            </div>
            <div class="mb-4">
                <p class="form-label">
                    <i class="fas fa-graduation-cap me-2"></i> Parent 2/Guardian's Education
                </p>
                <small class="text-muted d-block mb-2">
                    What is this parent's highest education level? And if education continued beyond secondary school,
                    include institution name, diploma/degree, and year
                    earned.
                </small>
                <!-- 
                {{ form.par2_levedu|add_class:"form-control mb-2" }}
                {{ form.par2_institute|add_class:"form-control" }} -->

                <p class="form-label">
                    Parent/Guardian 2's highest education level
                </p>
                {{ form.par2_levedu|add_class:"form-control mb-2" }}
                <p class="form-label">
                    In Parent/Guardian 2's highest education level, Please fill the school that he attained this level.
                </p>
                {{ form.par2_institute|add_class:"form-control" }}
                <p class="form-label">
                    If Parent/Guardian 2's graduated from university/college and beyond, Please enter the degree earned
                </p>
                {{ form.par2_degree|add_class:"form-control mb-2" }}
                <p class="form-label">
                    Year Parent/Guardian 2's earned this degree
                </p>
                {{ form.par2_degreeyear|add_class:"form-control mb-2" }}


            </div>
        </div>

        <!-- Navigation Buttons -->
        <div class="d-flex justify-content-between mt-5">
            <a href="{{ previous_url }}" class="btn btn-outline-secondary btn-lg me-2">
                <i class="fas fa-arrow-left me-2"></i> Previous
            </a>
            <button type="submit" class="btn btn-primary btn-lg ms-2">
                Next <i class="fas fa-arrow-right ms-2"></i>
            </button>
        </div>
    </form>
</div>

<script>
    // function toggleParent2(show) {
    //     const fields = document.getElementById('parent2-fields');
    //     fields.style.display = show ? 'block' : 'none';
    // }
    document.addEventListener('DOMContentLoaded', function () {
        const parCheckbox = document.getElementById('id_report_other_par');
        const parFields = document.getElementById('parent2-fields');


        if (parCheckbox) {
            // Toggle fields on change
            parCheckbox.addEventListener('change', function () {
                parFields.style.display = parCheckbox.checked ? 'block' : 'none';
            });

            // Initialize field visibility
            parFields.style.display = parCheckbox.checked ? 'block' : 'none';
        } else {
            console.error("Checkbox with ID 'id_report_other_par' not found!");
        }
    });

</script>
{% endblock %}














