{% extends "yuzzaz/base.html" %}

{% block content %}
<style>
    h4 {
   padding-bottom: 10px;
   margin-bottom: 10px;
   border-bottom: 1px solid grey;
}
</style>
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h3 class="text-center mb-4">Application Preview</h3>

        <!-- General Information Section -->
            <div class="form-section">
                <h4>General Information</h4>
                <p><strong>Agreement:</strong> {% if application.agreed %} Yes {% else %} No {% endif %}</p>
                <p><strong>Full Name:</strong> {{ application.first_name }} {{ application.middle_name }} {{ application.last_name }}</p>
                <p><strong>Date of Birth:</strong> {{ application.dob }}</p>
                <p><strong>Gender:</strong> {{ application.get_gender_display }}</p>
                <p><strong>Nationality:</strong> {{ application.nationality }}</p>
                <p><strong>Residency:</strong> {{ application.residency }}</p>
                <p><strong>Telephone:</strong> {{ application.tel1}}</p>
                <p><strong>Telephone 2:</strong> {{ application.tel2}}</p>
                <p><strong>Email:</strong> {{ application.email1}}</p>
                <p><strong>Email 2:</strong> {{ application.email2}}</p>
            </div>

            <!-- Advanced School Section -->
            <div class="form-section">
                <h4>Advanced School Information</h4>
                <p><strong>Advanced School:</strong> {{ application.adv_school_name }}</p>
                <p><strong>Advanced School Phone:</strong> {{ application.adv_school_phone }}</p>
                <p><strong>Advanced School Email:</strong> {{ application.adv_school_email }}</p>
                <p><strong>Curriculum:</strong> {{ application.adv_curriculum }}</p>
                <p><strong>Other Advanced School:</strong> {% if application.other_adv_school_name %} {{ application.other_adv_school_name }} </p>
                <p><strong>Phone:</strong> {{ application.other_adv_school_phone }}</p>
                <p><strong>Email:</strong> {{ application.other_adv_school_email }}</p>
                <p><strong>Other Curriculum:</strong> {{ application.other_adv_curriculum }}{% else %} N/A {% endif %}</p>
            </div>

            <div class="form-section">
                <h4>Ordinary School Information</h4>
                <p><strong>Ordinary School:</strong> {{ application.olv_school_name }}</p>
                <p><strong>Ordinary School Phone:</strong> {{ application.olv_school_phone }}</p>
                <p><strong>Ordinary School Email:</strong> {{ application.olv_school_email }}</p>
                <p><strong>Curriculum:</strong> {{ application.olv_curriculum }}</p>
                <p><strong>Other Ordinary School:</strong> {% if application.other_olv_school_name %} {{ application.other_olv_school_name }} </p>
                <p><strong>Phone:</strong> {{ application.other_olv_school_phone }}</p>
                <p><strong>Email:</strong> {{ application.other_olv_school_email }}</p>
                <p><strong>Other School's Curriculum:</strong> {{ application.other_olv_curriculum }} {% else %} N/A {% endif %}</p>
            </div>

            <!-- Parent Information Section -->
            <div class="form-section">
                <h4>Parent 1 Information</h4>
                <p><strong>Full Name:</strong> {{ application.par1_fname }} {{ application.par1_mname }} {{ application.par1_lname }}</p>
                <p><strong>Email:</strong> {{ application.par1_email }}</p>
                <p><strong>Phone:</strong> {{ application.par1_phone }}</p>
                <p><strong>Retired:</strong> {% if application.par1_retire %} Yes {% else %} No {% endif %}</p>
                <p><strong>Served:</strong> {% if application.par1_served %} Yes {% else %} No {% endif %}</p>
                <p><strong>Busy with Job:</strong> {% if application.par1_jobbusy %} Yes {% else %} No {% endif %}</p>
                <p><strong>Education Level:</strong> {{ application.par1_levedu }}</p>
                <p><strong>Highest School Went:</strong> {{ application.par1_institute }}</p>
            </div>

            <div class="form-section">
                <h4>Parent 2 Information</h4>
                <p><strong>Full Name:</strong> {% if application.par2_fname %} {{ application.par2_fname }} {{ application.par2_mname }} {{ application.par2_lname }} {% else %} N/A {% endif %}</p>
                <p><strong>Email:</strong> {{ application.par2_email }}</p>
                <p><strong>Phone:</strong> {{ application.par2_phone }}</p>
                <p><strong>Retired:</strong> {% if application.par2_retire %} Yes {% else %} No {% endif %}</p>
                <p><strong>Served:</strong> {% if application.par2_served %} Yes {% else %} No {% endif %}</p>
                <p><strong>Busy with Job:</strong> {% if application.par2_jobbusy %} Yes {% else %} No {% endif %}</p>
                <p><strong>Education Level:</strong> {{ application.par2_levedu }}</p>
                <p><strong>Highest School Went:</strong> {{ application.par2_institute }}</p>
            </div>

            <!-- Financial Information Section -->
            <div class="form-section">
                <h4>Financial Information</h4>
                <p><strong>Fees Payer (O-Level):</strong> {{ application.f_payer_olevel }}</p>
                <p><strong>Fees Payer (A-Level):</strong> {{ application.f_payer_alevel }}</p>
                <p><strong>Unpaid Fees:</strong> {% if application.unbpay %} Yes {% else %} No {% endif %}</p>
                <p><strong>Unpaid Fees Comment:</strong> {{ application.unbpayc }}</p>
                <p><strong>Support Received:</strong> {% if application.suprt %} Yes {% else %} No {% endif %}</p>
                <p><strong>Support Amount:</strong> {{ application.suprt_amnt }}</p>
                <p><strong>Supporter Name:</strong> {{ application.suprt_name }}</p>
                <p><strong>Support Comment:</strong> {{ application.suprtc }}</p>
            </div>

            <!-- Additional Information Section -->
            <div class="form-section">
                <h4>Additional Information</h4>
                <p><strong>Challenges:</strong> {{ application.chlg }}</p>
                <p><strong>Social Media:</strong> {{ application.social_media }}</p>
                <p><strong>Teaching Experience:</strong> {{ application.teach }}</p>
                <p><strong>COVID-19 Impact:</strong> {% if application.covid_impact %} Yes {% else %} No {% endif %}</p>
                <p><strong>Impact Details:</strong> {{ application.covid_impact_details }}</p>
                <p><strong>Disciplinary Violation:</strong> {% if application.has_disciplinary_violation %} Yes {% else %} No {% endif %}</p>
                <p><strong>Disciplinary Details:</strong> {{ application.disciplinary_details }}</p>
                <p><strong>Signed:</strong> {% if application.signed %} Yes {% else %} No {% endif %}</p>
                <p><strong>Sign Date:</strong> {{ application.signdate }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
