{% extends 'yuzzaz/base copy.html'%}
{% load static %}
{% block title %}Reset Done{% endblock %}
{% block content%}
<form method="POST">
  {% csrf_token %}
  <div class="form-header">
    <h2>Email Sent</h2>
    <p>We've emailed you instructions for setting your password. If you don’t receive the email, make sure
      you’ve entered the address you registered with.</p>
  </div>
  
    <button disabled style="background-color: gray;" type="submit" class="btn btn-custom mt-4">
      <span>Open Your Email</span>
    </button>
</form>
{% endblock %}
