{% extends 'yuzzaz/base copy.html'%}
{% load static %}
{% block title %}Reset Password{% endblock %}
{% block content%}

                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-header">
                          <h2>Forgot Your Password?</h2>
                          <p>Enter the email address you registered with and we’ll send you a link to reset your password.</p>
                        </div>
                    
                        <div class="form-group">
                            <input type="email" id="email" name="email" class="form-control-custom" placeholder=" " required>
                            <label for="email" class="form-label">Email</label>
                            {% if form.username.errors %}
                                <div class="invalid-feedback d-block">
                                      {{ form.email.errors }}
                            </div>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-custom mt-4">
                            <span>Reset Password</span>
                        </button>
                    </form>
                    
{% endblock %}