{% extends 'yuzzaz/base copy.html'%}
{% load static %}
{% block title %}Reset Confirm{% endblock %}
{% block content%}

<form method="POST">
    {% csrf_token %}
    <div class="form-header">
        <h2>Set New Password</h2>
        <p>Enter your new password below and confirm it to reset your account access.</p>

    </div>

    <div class="form-group">
        <input type="password" name="new_password1" id="new_password1" class="form-control-custom" placeholder=" "
            required>
        <label for="new_password1" class="form-label">New Password</label>
        <div class="text-danger">
            {{ form.new_password1.errors }}
        </div>
    </div>

    <div class="form-group">
        <input type="password" name="new_password2" id="new_password2" class="form-control-custom" placeholder=" "
            required>
        <label for="new_password2" class="form-label">Confirm New Password</label>
        <div class="text-danger">
            {{ form.new_password2.errors }}
        </div>
    </div>

    <button type="submit" class="btn btn-custom mt-4">
        <span>Change Password</span>
    </button>
</form>
{% endblock %}